
/*------------------------------------------- CONTACT SIDE AREA  -------------------------------------*/

#designcontactheader {width:400px; }
#designcontactheader h1{font-size:19px; line-height:20px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#030; margin-left:30px; margin-right:30px; margin-top:20px; font-weight:bold; text-align:left}
#designcontactheader #designcontact-transparentwall{margin-left:30px; margin-right:30px; margin-top:20px}
#designcontactforms {width:400px; margin-top:00px; margin-left:00px; margin-right:0px; height:330px}
form {margin-top:00px; margin-left:00px; margin-right:0px; height:330px}
.weblabel {clear:both; margin-top:5px; margin-left:35px; margin-right:00px; margin-bottom:10px; font-size:13px; line-height:20px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#030; vertical-align:bottom; float:left; font-size:14px; font-family:arial}
em{margin-top:0px; margin-left:0px; margin-right:30px; font-size:9px; line-height:10px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#030; font-style:italic}
.text-input{margin-top:3px; margin-left:0px; margin-right:0px; font-size:12px; line-height:10px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#010; width:195px; height:23px; margin-bottom:0px; background:#fff; border:1px; outline:1px solid #ddd}
#form3select{margin-top:3px; margin-left:0px; margin-right:30px; font-size:12px; line-height:10px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#010; width:190px; height:27px; margin-bottom:0px; border:1px; outline:1px dotted #fff}
#form358345bh1578fbjfsvbjstage23seo {height:90px; width:360px;  border:1px; outline:1px solid #ddd; color:#777; margin-top:3px; float:right}
#labelsgood{float:left; font-size:10px; color:#555; line-height:20px; position:relative; top:10px; font-family:arial}
#checkboxed{clear:both; float:left; position:relative; top:10px; margin-left:35px; font-family:arial}
.text-input{float:right; font-family:arial}
#webenjoy{position:absolute; left:420px; top:62px}


#form358345bh1578fbjfsvbj3{margin-top:3px; margin-left:0px; margin-right:0px; font-size:12px; line-height:10px; font-weight:normal; text-shadow:1px 1px 1px #FFF; color:#010; width:195px; height:23px; margin-bottom:0px; background:#fff; border:1px; outline:1px solid #ddd; float:right}

#commentsreceived{font-family:arial; font-size:10px; line-height:10px; font-weight:bold}

/*--------------------------------- STAGE 3 - FINAL STAGE OF WEBDESIGN ---------------------------------*/

 
  
  
